header{
    width: 80%;
    background-color: var(--cinza);
}

header img{
    height: 5rem;
}

.title{
    display: flex;
    align-items: center;
    background-color: var(--marrom);
    padding-left: 5rem;
    padding-right: 10rem;

    color: var(--claro);
}


header h1{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--terra);
    gap: 3rem;
}

nav a{
    color: var(--marrom-avermelhado);
    font-size: 1.6rem;
}

/* ===========responsividade 400px=========== */

@media (max-width: 450px) {
    header{
        width: 100%;
    }
    .title{
        padding-left: 0rem;
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding-left: 0rem;
        padding-right: 5rem;
        background-color: var(--terra);
        gap: 2rem;
    }
    nav a{
            color: var(--marrom-avermelhado);
            font-size: 1.2rem;
        }
}

/* ===========responsividade 1024px=========== */
@media (max-width: 1024px) {
    header{
        width: 100%;
    }
    .title{
        padding-left: 0rem;
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding-left: 0rem;
        padding-right: 5rem;
        background-color: var(--terra);
        gap: 2rem;
    }
    nav a{
            color: var(--marrom-avermelhado);
            font-size: 1.2rem;
        }
}

/* ===========responsividade 1440px=========== */
@media (max-width: 1440px) {
    header{
        width: 100%;
    }
    .title{
        padding-left: 0rem;
    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding-left: 0rem;
        padding-right: 5rem;
        background-color: var(--terra);
        gap: 2rem;
    }
    nav a{
            color: var(--marrom-avermelhado);
            font-size: 1.2rem;
        }
}