/* ==================================configuração da página================================== */
@import url(./css/header.css);
@import url(./css/conteudo.css);
@import url(./css/footer.css);

:root{
    --escuro: #000000;
    --claro: #ffffff;
    --marrom: #987b5d;
    --cinza: #ebebeb;
    --marrom-avermelhado: brown;
    --terra: wheat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html{
    font-size: 62.5%;
}

body{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}